.main {
    display: flex;
    flex-basis: fit-content;
    flex-flow: row wrap;
    width: auto;
    background-color: greenyellow;

}

.avatar {
    width: 100px;
    border-radius: 50px;
    background-color: chartreuse;
    z-index: 1;
}

.tongue {
    width: 50px;
    height: 50px;
    left: 50px;
    top: 115px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 0;
}

.text_area {
    display: grid;
    grid-template-areas:
    "n n"
    "m t";
    gap: 1em;
    grid-template-rows: auto;
    grid-template-columns: auto 40px;

    padding: 10px;

    background-color: rgba(0, 0, 0, 0.8);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.name {
    grid-area: n;
    font-weight: bold;
    color: mediumpurple;
}

.message {
    grid-area: m;
    color: white;
}

.time {
    grid-area: t;
    justify-self: center;
    color: rgba(255, 255, 255, 0.2);
}