.main {
    display: flex;
    flex-basis: fit-content;
    flex-flow: row wrap;
    width: auto;
}

.avatar {
    width: 100px;
    border-radius: 50%;
}

.text_area {
    display: grid;
    grid-template-areas:
    "n n"
    "m t";
    gap: 1em;
    grid-template-rows: auto;
    grid-template-columns: auto 40px;

    padding: 10px;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.text_area::before {
    content: ' ';
    position: relative;
    border: 10px solid transparent;
    border-right-color: rgba(0, 0, 0, 0.8);
    left: -30px;

    width: 0px;
    height: 0px;
}

.name {
    grid-area: n;
    font-weight: bold;
    color: mediumpurple;
}

.message {
    grid-area: m;
    color: white;
}

.time {
    grid-area: t;
    justify-self: center;
    color: rgba(255, 255, 255, 0.2);
}

